<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Request</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/requests/<%= request._id %>?_method=PUT"method="POST">
            <label for="requestDescription">Request:</label>
            <input type="text" name="requestDescription" id="requestDescription" value="<%= request.requestDescription %>" />

            <label for="admin">Select Admin:</label>
            <select id="admin" name="admin">
                <% users.forEach((users)=>{ %>
                    <% if(users.isAdmin===true){%>
                        <option value="<%= users._id %>">
                            <%= users.username === admin.username ?  admin.username : "" %>
                        </option>
                    <%};%>
               <% }) %>
            </select>
            <button type="submit">Add Request</button>
        </form>
</body>

</html>