<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit a Request</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="container center">
            <div class="requests-card">
                <form action="/users/<%= user._id %>/requests/<%= request._id %>?_method=PUT" method="POST">

                    <label class="description" for="requestDescription"><b>Request Description</b></label>
                    <input type="text" name="requestDescription" id="requestDescription"
                        value="<%= request.requestDescription %>" />

                    <label class="description" for="admin"><b>Select Admin </b></label>
                    <div class="box">
                        <select id="admin" name="admin">
                            <% users.forEach((user)=>{ %>
                                <% if(user.isAdmin===true){%>
                                    <option value="<%= user._id %>" <%=user.username===admin.username ? "selected" : ""
                                        %>>
                                        <%= user.username %>
                                    </option>
                                    <%};%>
                                        <% }) %>
                        </select>
                    </div>

                    <div class="more-information">
                        <button class="button-86" type="submit">Edit Request</button>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>