<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Requests</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <%if( requests.length !==0) {%>
        <h1 class="title">Your Requests</h1>

        <div class="row">
            <% requests.forEach((request)=>{ %>
                <div class="container center">
                    <div class="requests-card">
                        <h2 class="font"><b>ID:</b> <%= request.requestId %>
                        </h2>
                        <hr />
                        <p class="description"> <b>Description:</b> <%= request.requestDescription %>
                        </p>
                        <div class="more-information">
                            <button class="button-86">
                                <a href="/users/<%= user._id %>/requests/<%= request._id %>"> More Information</a>
                            </button>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <%}else{%>
            <h1 class="title">No Requests</h1>
            <%}%>
        <br>
        <a class="button-86" href="/users/<%=user._id%>/requests/new">Add a request</a>
</body>

</html>