<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>
    <%= request.requestId %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container center">
    <div class="requests-card">

    <h1 class="font">Request ID:<%= request.requestId %></h1>

    <p class="description" >request:<%= request.requestDescription %> </p>

    <p class="description" >Assigned Admin: <%= admin.username%></p>

    <p class="description" >Status: <%= request.status%></p>

    <div class="more-information">
      <button class="button-86">
        <a href="/users/<%= user._id %>/requests/<%= request._id %>/edit">Edit this request</a>
      </button>
 

    <form action="/users/<%= user._id %>/requests/<%= request._id %>?_method=DELETE" method="POST">

      <button class="button-86" type="submit">Delete this Request</button>

    </form>
  </div>
  </div>
</div>
</body>

</html>