<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>admin requests</title>
</head>

<body>
    <%- include('../partials/_admin-navbar.ejs') %>
        <h1 class="title">Assigned Requests</h1>

        <div class="row">
        <% users.forEach((user)=>{ %>
            <div class="container center">
                <div class="requests-card">
                    <h2 class="font">ID :<%= user.requests.requestId %>
                    </h2>
                    <hr />
                    <p class="description"> Description: <%= user.requests.requestDescription %>
                    </p>

                    <div class="more-information">
                        <button class="button-86">
                            <a href="/users/<%= user._id %>/admins/<%= user._id %>/<%= user.requests._id %>/edit">
                                More Information</a>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

                <a class="button-86" href="/users/<%=currentUser._id%>/admins/master">
                    Create Admins
                </a>

</body>

</html>